body {
    background-color: white;
}
.hero {
    background-color: rgb(21, 21, 43);
    padding: 20px 0;
}
.nav {
    text-align: center;
}
a {
    text-decoration: none;
    margin: 15px;
    color: azure;
}
.heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    padding: 30px 0;
}
.hero1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
}
.box {
    font-size: 0;
    width: 180px;
    height: 180px;
    background-color: #99d8ca;
    text-align: center;
    margin: 150px auto;
    border: 12px solid ;
    outline: 18px solid #90ffa9;
    border-radius: 12px;
    box-shadow: inset 12px 12px 2px #5873e2, inset -12px -12px 2px #5873e2;
}
